
    #main-slider img{
        width: 550px;
        height: 700px;
    }
    #home{
        width: 700px;
    }
    header{
        max-width: 100px;
        float: left;

    }
    section{
        max-width: 700px;
    }
    #footer{
        width:  510px;
    }
    .img_footer{
      margin: 0px;

    }
    address{
      width: 100%;
      margin: 0px;
    }
    #about{
        width: 510px;
    }
    .about-content{
      width: auto;
    }
    .col-sm-5{

      margin-top: -341px;
      float: left;
    }
    #map{
      display: none;
    }


    #explore{
        width: 550px;
        height: 30px;
        font-size: 25px;
    }
    .main-nav{

        width: 100px;
    }
    .collapse{

        float: left;
        width: 100px;
        display: inline;
    }
    .navbar-collapse{

        width: 100px;
        display: inline;
    }
    .nbs-flexisel-ul{
        display: inline;width: 100%;
    }
  .navbar-header{
    width: 60px;
      margin-top: -50px;
  }
  .image-seta{
    display: none;
  }
  #consultaUl{
    display: none;
  }
    .principal{
        max-width: 100%;
margin-left: 20px;


    }

  .w-container .w-row{
    display: inline;
  }
  .contact-text{
    padding: 0px;
  }
  .contact-text table{
    display: inline;
    width: 100%;
    margin-left: 20px;

  }
  .navbar-brand{
    display: none;
  }
  .navbar-brand img{
    display: none;
  }
  .image-svg{
    width: 60px;
  }
  .contact-section{
    width: 510px;
  }
  #flexiselDemo1{
    width: 100%;
  }
    #flexiselDemo2{
      margin-left: 10px;
    }
  .titulo{
    display: inline-block;
    text-align: center;
    margin-left: 100px;
  }
    .divPrincipal{
        max-width: 500px;
        margin-left: -10px;


    }
    .col-md-4  {
        width: 90px;
    }
    .col-md-8 h1{
        margin-left: 100px;
        margin-top: -40px;
        margin-bottom: 50px;
        font-size: 30px;
    }
    .col-md-8 p{

        margin-left: 40px;
        height: auto;
    }
  .navbar-brand {

    height: 100px;

  }

  .navbar-right {
      padding: 0;
      width: 300px;
      padding: 0;
      margin-top: -20px;
  }

.collapse.in{
  display: none;
}
  .fixed-menu .container {
    width: 100%;
  }

  .fixed-menu .navbar-right {
    padding-right: 30px;
  }

  .fixed-menu .navbar-right li a {
    padding: 20px 15px;
    font-size: 17px;
  }

 #countdown li {
  margin-right: 15px;
 }

  .sponsor-control-left {
    right:8%;
  }

  .sponsor-control-right {
    right: 5%;
  }

  .guitar, .ear-piece, .light {
    display: none;
  }

  .watch {
    left: -8%
  }

  .guitar2 {
    height: 100%;
  }

  .guitar2 img {
    padding-top:38%;
  }

  .twit {
    left: -5%;
  }
